@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;


/* default color */
.scroll-messagefeed{
  --scrollbar-thumb-color : "red";
  --scrollbar-track-color : "yello";
}


.scroll-messagefeed::-webkit-scrollbar{
  width : 1rem !important;
}
.scroll-messagefeed::-webkit-scrollbar-track{
  background :var(--scrollbar-track-color);
  margin : 3px;
  border-radius: 6px;
}
.scroll-messagefeed::-webkit-scrollbar-thumb{
  background-color : var(--scrollbar-thumb-color);
  
  border-radius :6px;

}



/* wave  */
@keyframes wave {
  0%, 100% {
    transform: translate(0px, 0px) scale(1.2);
  }
  25% {
    transform: translate(20px, -20px) scale(1.2);
  }
  50% {
    transform: translate(-20px, 20px) scale(1.2);
  }
  75% {
    transform: translate(20px, 20px) scale(1.2);
  }
}
.wave-bg {
  animation: wave 15s ease-in-out infinite;
}