@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;


/* default color */
.scroll-messagefeed{
  --scrollbar-thumb-color : "red";
  --scrollbar-track-color : "yello";
}


.scroll-messagefeed::-webkit-scrollbar{
  width : 1rem !important;
}
.scroll-messagefeed::-webkit-scrollbar-track{
  background :var(--scrollbar-track-color);
  margin : 3px;
  border-radius: 6px;
}
.scroll-messagefeed::-webkit-scrollbar-thumb{
  background-color : var(--scrollbar-thumb-color);
  
  border-radius :6px;

}